{% extends 'new_template/index.html' %}
    {% block content %}
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Thêm Mới Xe Ra Vào</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Biển số xe</label>
                        <input type="text" name="car_number">
                    </div>
                    <div class="form-group">
                        <label>Khối lượng đất</label>
                        <input type="text" name="mass">
                    </div>
                    <div class="form-group">
                        <label>Tên lái xe</label>
                        <input type="text" name="driver">
                    </div>
                    <div class="form-group">
                        <label>Công ty</label>
                        <input type="text" name="company">
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Thêm Mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}