{% extends 'new_template/index.html' %}
    {% block content %}
        <!-- ############ Content START-->
         <div class="d-flex flex" id="content-body">
                    <div class="d-flex flex-column flex card" style="margin-top: 30px;">
                        <div class="row ">
                            <div class="col-5 p-5 card" style="margin-top: 2.5rem; background-color: aqua;">
                                <iframe width="720" height="480" src="http://thanhphat.h-factor.vn/cam1"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><img
                                    border="0" src="https://i2.ytimg.com/vi/Rr1qZslZGk4/0.jpg" height="0" width="0" />

                            </div>
                            <div class="col-5 p-5 card" style="margin-top: 2.5rem; background-color: aqua;">
                                <iframe width="720" height="480" src="http://thanhphat.h-factor.vn/cam2"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><img
                                    border="0" src="https://i2.ytimg.com/vi/Rr1qZslZGk4/0.jpg" height="0" width="0" />
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-5 p-5 card" style="margin-top: 2.5rem; background-color: aqua;">
                                <iframe width="720" height="480" src="http://thanhphat.h-factor.vn/cam3"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><img
                                    border="0" src="https://i2.ytimg.com/vi/Rr1qZslZGk4/0.jpg" height="0" width="0" />

                            </div>
                            <div class="col-5 p-5 card" style="margin-top: 2.5rem; background-color: aqua;">
                                <h5>CAM4</h5>
                                <video autoplay="true" id="videoElement">

                                </video>
                            </div>
                        </div>

                    </div>
         </div>
        <!-- ############ Main END-->
    {% endblock %}