{% extends 'new_template/index.html' %}
    {% block content %}
            <form action=""  method="POST" class="form-signin">
                {% csrf_token %}
                <div class="d-flex flex" id="content-body">
                    <div class="d-flex flex-column flex card" style="margin-top: 30px;">
                        <div class="row ">
                            <div class="col-6 col-md-4 col-ms-4">
                                <div class=" p-3">
                                    <h5>Chọn danh sách xe</h5>
                                    <div class="list list-row block">
                                        {% for i in form2 %}
                                            <div class="list-item " data-id="21">
                                                <div>
                                                    <label class="ui-check m-0 ">
                                                        <input type="checkbox" name="mycheck" value={{i.number}}>
                                                        <i></i>
                                                    </label>
                                                </div>
                                                <div class="flex">
                                                    <div class="item-feed h-2x">
                                                        <a href='#'></a> {{i.number}}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-ms-4">
                                <div class=" p-3">
                                    <h5>Chọn ngày</h5>
                                    <div>
                                        <div class="form-group">
                                            <input id="event-start-date" type="date" class="form-control"
                                                placeholder="Date" name="mydate">
                                        </div>
                                        <div class="p-3">.
                                            <button type="submit" class="btn w-sm mb-1 btn-md indigo" style="margin-left: -23px;">Lọc</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-ms-4 ">
                                
                            </div>
                        </div>
                        <table id="table" class="table" data-mobile-responsive="true" style="text-align: center;margin-top: 9px;">
                            <thead >
                                <tr>
                                    <th data-sortable="true" data-field="stt" style="width: 3cm;">Số thứ tự</th>
                                    <th data-sortable="true" data-field="bsx" style="width: 7cm;">Biển số xe</th>
                                    <th data-sortable="true" data-field="date" style="width: 4cm;">Ngày</th>
                                    <th data-sortable="true" data-field="time" style="width: 4cm;">Giờ</th>
                                    <th data-sortable="true" data-field="project" style="width: 4cm;">Khối lượng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in form %}
                                    <tr class=" " data-id="5" >
                                        <td style="min-width:20px;">
                                            <small class="text-muted">1</small>
                                        </td>
                                        <td>{{i.Plate}}</td>
                                        <td>{{i.Date}}</td>
                                        <td>{{i.Time}}</td>
                                        <td>1300</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div>.
                            <button class="btn w-sm mb-1 btn-md indigo" style="width:4cm ;">Xuất báo cáo</button>
                        </div>
                    </div>
                </div>
            </form>

        <!-- ############ Main END-->
    {% endblock %}