{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- style -->
    <!-- build:css ../assets/css/site.min.css -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" />
    <!-- endbuild -->
</head>

<body class="layout-row">
    <!-- ############ Aside START-->
    <body class="layout-row">
        <div class="d-flex flex-column flex">
            <div class="row no-gutters h-100">
                <div class="col-md-6 bg-primary" style="">
                    <div class="p-3 p-md-5 d-flex flex-column h-100">
                        <h4 class="mb-3 text-white">Logo cong ty</h4>
                        <div class="text-fade">image</div>
                        <div class="d-flex flex align-items-center justify-content-center">
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="content-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="p-3 p-md-5">

                            <h4>Công ty TNHH xây dựng Thành Phát</h4>
                            <h5>Hệ thống hỗ trợ quản lý xe ra vào công trường</h5>
                            <p>
                                <small class="text-muted">Nhập tên tài khoản và mật khẩu để đăng nhập</small>
                            </p>
                            <form method="POST" class="" role="form" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" placeholder="Enter Username" name="username1">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="password1">
                                </div>
                                {% if messages %}
                                    {%for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
                                <div class="checkbox mb-3">
                                    <label class="ui-check">
                                        <input type="checkbox">
                                        <i></i> Ghi nhớ mật khẩu
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mb-4">Đăng nhập</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- ############ Content END-->
    <!-- build:js ../assets/js/site.min.js -->
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ajax page -->
    <script src="{% static 'libs/pjax/pjax.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax.js' %}"></script>
    <!-- lazyload plugin -->
    <script src="{% static 'assets/js/lazyload.config.js' %}"></script>
    <script src="{% static 'assets/js/lazyload.js' %}"></script>
    <script src="{% static 'assets/js/plugin.js' %}"></script>
    <!-- scrollreveal -->
    <script src="{% static 'libs/scrollreveal/dist/scrollreveal.min.js' %}"></script>
    <!-- feathericon -->
    <script src="{% static 'libs/feather-icons/dist/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/feathericon.js' %}"></script>
    <!-- theme -->
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)
    </script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'assets/js/utils.js' %}"></script>
    <!-- endbuild -->
</body>

</html>